---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
  <Hero />
  <section>hej med dig</section>
</Layout>

<style>
  section {
    padding-block-start: 6rlh;
  }
</style>
