---
const { type = "button", color } = Astro.props;
---

<!-- kort sagt: 5 farver, tekst og iconer : responsivt-->
<button {type} color={"--Green"}>
  <slot />
</button>

<style>
  button {
    /* Default styles */
    padding: 0.25rlh 1rlh;
    background-color: var(--Yellow);
    border-radius: 50px;
  }

  button:hover {
    background-color: var(--LightYellow);
  }
</style>
