---
import Services from "./Services.astro";
import Button from "./Button.astro";
---

<section class="hero">
  <img src="/src/assets/img/HeroImg.png" alt="" />
  <div>
    <h1>Empowering Your Business Growth</h1>
    <p>
      Discover tailored strategies and expert insights to take your business to
      the next level. Let us help you navigate challenges and achieve
      sustainable success.
    </p>
    <Button>Book a Meeting</Button>
  </div>
</section>
<Services />
<style>
  /* Styles her */
  .hero {
    height: 38rem;
    grid-column: 1/-1;
    background-color: var(--Black);

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr minmax(0, 450px) minmax(0, 600px) 1fr;
    align-items: start;

    div {
      width: 100%;
      grid-column: 2 /3;
      grid-row: 1/-1;
      padding-top: 7rem;
      color: var(--White);

      p {
        margin-block-start: 0.5rlh;
        margin-block-end: 1rlh;
      }
    }

    img {
      height: 100%;
      object-fit: cover;

      grid-column: 3/-1;
      grid-row: 1/-1;
    }
  }
</style>
