---
import "../styles/main.css";
import Button from "../components/Button.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <header>
      <div>
        <h5>AskExpress</h5>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/casestudy">Case Study</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
        <Button theme="primary">WE'LL WORK WITH YOU</Button>
      </div>
    </header>
    <main><slot /></main>
    <footer></footer>
  </body>

  <style>
    @layer components {
      header {
        background-color: var(--DarkGrey);
      }
      header div {
        grid-column: 2 / 3;

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-items: center;
        align-items: center;

        > * {
          grid-column: span 1;
        }
        nav ul {
          display: flex;
          gap: 1rlh;
          list-style: none;
        }
        h5 {
          text-box-trim: trim-both;
          text-box-edge: cap alphabetic;
        }
        h5,
        a {
          color: var(--White);
        }
      }
    }
  </style>
</html>
